<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="margin:100px;">
    <h1> 안녕하세요, 원툴 신규 회원님.</h1>
    <p>원툴에 가입해 주셔서 감사합니다. 회원가입을 완료하기 위해 아래의 인증번호를 입력해 주세요.</p>
    <br>
    <div align="center" style="border:1px solid black; font-family:verdana;">
        <h3 style="color:blue"> 회원가입 인증 코드 </h3>
        <div style="font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
    <p>
        이 인증번호는 10분간 유효하며, 시간 내에 인증을 완료해 주시기 바랍니다.
        인증번호 입력 후, 귀하의 계정이 활성화되어 원툴 도면 거래의 모든 서비스를 이용하실 수 있습니다.
    </p>
    <br/>
    <p>
        이메일 인증 과정에 문제가 발생하셨나요? 본 이메일에 문의사항이 있을 경우, 고객센터로 연락 주시면 최대한 빠르게 도움드리겠습니다.
    </p>
    <br/>
    <p>
        감사합니다.
    </p>
    <p>
        원툴 팀 드림
    </p>

    <br/>

    <small th:style="'color:' + gray" th:text="'이 이메일은 발신 전용이므로 회신하지 마세요. 원툴 관련 궁금하신 사항은 원툴 고객센터에 문의해 주세요.'"></small>
</div>
</body>
</html>