<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="margin:100px;">
    <h1> 안녕하세요, 원툴 회원님.</h1>
    <p>비밀번호 분실로 인해 회원님의 비밀번호를 임시 비밀번호로 변경했습니다. 임시 비밀번호로 로그인 후, 새로운 비밀번호로 변경해주시기 바랍니다.</p>
    <br>
    <div align="center" style="border:1px solid black; font-family:verdana;">
        <h3 style="color:blue"> 임시 비밀번호 </h3>
        <div style="font-size:130%" th:text="${password}"> </div>
    </div>
    <br/>
    <p>
        본 이메일에 문의사항이 있을 경우, 고객센터로 연락 주시면 최대한 빠르게 도움드리겠습니다.
    </p>
    <br/>
    <p>
        감사합니다.
    </p>
    <p>
        도면마켓 팀 드림
    </p>

    <br/>

    <small th:style="'color:' + gray" th:text="이 이메일은 발신 전용이므로 회신하지 마세요. 원툴 관련 궁금하신 사항은 원툴 고객센터에 문의해 주세요."></small>
</div>
</body>
</html>